@import "../variables.scss";

/*
    .line {
        width: 60px;
        background-color: $text-color;
        height: 1px;
        display: inline-block;
        position: relative;
        top: -4px;
        margin: 0 7px;
    }
*/

.slide-inner {
    position: relative;
    padding-top: 18vh;
    height: 60vh;
    .description {
        position: fixed;
        width: 100vw;
        height: 60vh;
        .descriptionInner {
            position: relative;
            height: 60vh;
            max-width: 380px;
            width: 90%;
            h2 {
                width: 400px;
                padding-top: 10vh;
                small {
                    font-weight: 100;
                    font-size: 16px;
                    display: block;
                    margin-bottom: 10px;
                }
            }

            .credits {
                position: absolute;
                bottom: 0;
                left: 0;
                //padding-bottom: 10vh;
                padding-bottom:3vh;
                
                ul {
                    margin-top: 20px;
                  //  display:none;

                    li{

                            border-bottom: 1px dotted #CACACA;
                            padding:8px 0;

                    }

                }
               p,li, a,.see {
                font-weight: 100;          
                line-height: 1.6em;
                font-size: 14px;

                .plane {
                    font-size: 19px;
                    left: 8px;
                    position: relative;
                    opacity:0.8;
                    top: 1px;
                }
            }


            }
            
        }
    }
    .media-container {
        width: 55%;
        float: right;
        .media {
            height: auto;
            width: 100%;
            display: block;
            margin-bottom: 15px;
            img,
            video {
                width: 100%;
                display: block;
            }
            &:last-of-type {
                margin-bottom: 0px;
            }
        }
    }
}
