.about {

	height:100vh;

	display: flex;
 	align-items: center;
  	//justify-content: center;
  padding-top: 0vh;
	//	padding-bottom: 30vh;

	h2 {

		max-width:980px;
		width:100%;
		line-height: 1.2em;
		padding-bottom: 0px;

	}

}