.about {

	height:100vh;

	//display: flex;
  	//align-items: center;
  	//justify-content: center;
  	padding-top: 30vh;
		padding-bottom: 30vh;

	h2 {

		max-width:920px;
		width:100%;
		line-height: 1.2em;
		padding-bottom: 60px;

	}

}