.example-enter {
 /* opacity: 0;
  transition: opacity .5s ease-out;

  h2 {


			 span {

			 	opacity:0;
			 	 transition:.5s ease-in;
                transform: translatey(50px);
                //  transition-delay: .5s;
			 }
  }*/

}

.example-enter.example-enter-active {
 /*opacity: 1;

  h2 {
  	 span {

			 	opacity:1;
			 		 	 transition:.5s ease-in;
                transform: translatey(0px);

			 }
  }*/
}

.example-leave {
 /* opacity: 1;
  transition: opacity .5s ease-out;

  h2 {
  	 span {

			 	opacity:0;
			 	transition: .5s ease-in;
                transform: translatey(50px);
			 }
  }*/


}

.example-leave.example-leave-active {
 /* opacity: 0;

  h2 {
  	 span {

			 	opacity:0;
			 	// transition:.5s ease-out;

                transform: translatey(50px);
			 }
  }*/

}

.example-appear {
  opacity: 0.01;
    transition:  .5s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.example-appear.example-appear-active {
  opacity: 1;
  transition:  .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.example-enter {
  opacity: 0.01;
    transition:  .5s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.example-enter.example-enter-active {
  opacity: 1;
  transition:  .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.example-leave {
  opacity: 1;
    transition:  .5s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition:  .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}