

/*color*/
$body-bg: #fff;
$text-color: #000;
$brand-color: #000;

/*font*/
$font-family-base: 'Helvetica', sans-serif;
$font-size: 16px;

/*media queries*/
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/*container*/
$max-width-container : 2400px;