@import "../variables.scss";

sidebar {
  /* position: fixed;
    z-index: 3;
    width: 100%;
    bottom: 0px;
    left: 2.5vw;
    transform: rotate(-90deg);
    transform-origin: left;
    ul {
        display: flex;
        padding-left: 50vh;
        li {
            a {
                margin: 0 3vw;
                opacity: 0.5;
                text-transform: uppercase;
                font-size: 17px;
                &.active {
                    opacity: 1;
                    border-bottom: 1px solid $text-color;
                    padding-bottom: 7px;
                }
            }
            &:first-child {
                a {
                    margin-left: 0px;
                }
            }
            &:last-child {
                a {
                    margin-right: 0px;
                }
            }
        }
    }*/
}
